# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
  
**Objectives:**

- List popular languages for Data Science
- Discuss commonly used libraries in Data Science
- Identify common tools used in Data Science
- Convert units of time (e.g., minutes to hours)

Some of the popular languages that Data Scientists use are:  

1.Python  

2.R  

3.SQL

Some of the commonly used libraries used by Data Scientists include:  

1.Pandas  

2.Numpy  

3.Scikit-learn

Data Science Tools:  

1.Jupyter Notebook  

2.Apache Hadoop  

3.RStudio 

|Data Science Tools|
|---|
|Jupyter Notebook|
|Apache Hadoop|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335

## Author
HUANHUAN